body {
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px 2px white;
}

button {
  font-family: 'Righteous', cursive;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
}

button:hover {
  box-shadow: none;
  background-color: lightblue;
}

li {
  list-style: none;
  margin: 0 0 10px 0;
  background-color: rgba(255,255,255,.7);
}

ul {
  columns: 3;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-family: 'Righteous', cursive;
}

#login, #register {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 100%;
  background-image: url('./images/airplane-airport.jpg');
  background-size: cover;
}

#login-title, #register-title {
  font-size: 88px;
  text-shadow: 4px 4px 8px red;
}

#login-interactives, #register-interactives {
  margin: auto;
  height: 50vh;
  width: 50%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: space-between;
}

#login-interactives > form, #register-interactives > form {
  height: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 60%;
}

#login-interactives > form > input, #register-interactives > form > input {
  text-align: center;
  height: 30%;
  font-size: 20px
}

#login-interactives > form > button, #register-interactives > form > button {
  font-size: 20px;
  height: 35px;
}

#login-interactives > button, #register-interactives > button {
  height: 20%;
  margin: auto 0;
  font-size: 20px
}

.react-calendar {
  margin: 0 auto;
  width: 50%;
  background-image: url('./images/train-on-bridge.jpg');
  background-size: cover;
}

.react-calendar__month-view, .react-calendar__navigation {
  background-color: rgba(255,255,255,.7);
}

#user-container {
  height: 100vh;
  width: 100%;
}

.user-page {
  display: flex;
  justify-content: center;
  /*background: url('./images/tropical.jpeg');*/
  background-color: skyblue;
  background-size: cover;
  height: 10%;
  align-items: center;
  overflow: scroll;
}

#user-name {
  text-align: center;
  width: 50%;
  margin-bottom: 0;
  font-size: 40px;
}

#user-page-buttons {
  width: 50%;
  display: flex;
  justify-content: center;
}

#user-page-buttons > button {
  width: 150px;
  height: 40px;
  font-size: 20px;
}

#trip-container {
  background: url('./images/yacht.jpg');
  background-size: cover;
  height: 90%;
  overflow: scroll;
}

#your-trips {
  font-size: 48px;
  text-shadow: center;
  background-color: rgba(255,255,255,.5);
}

#trip-list {
  columns: 3;
  padding: 0;
}

#trip-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 30px;
}

#trip-list >li > button {
  width: 50%;
  height: 20%;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#trip-nav {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

#trip-nav > button {
  width: 120px;
  font-size: 14px;
}

#new-trip-button {
  width: 160px;
  height: 40px;
  font-size: 18px;
  background-color: gray;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: 1px solid chartreuse;
}

#new-trip-button:hover {
  color: chartreuse;
}


#map-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;

}

#map-container > div {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.react-calendar__navigation__label {
  font-size: 18px
}

#map-and-calendar {
  display: flex;
}

#new-trip-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px
}

#new-trip-page > div {
  font-size: 36px;
}

#new-trip-page > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

#new-trip-page > form > input {
  text-align: center;
  width: 100%;
  height: 20px;
  font-family: 'Righteous', cursive;
  font-size: 18px
}

#new-trip-page > form > button {
  height: 30px;
  width: 50%;
  font-size: 18px;
}

#note-list {
  font-size: 25px;
}

#yelp-title {
  font-size: 25px;
  background-color: rgba(255,255,255,.7);
}

#trip-title {
  font-size: 36px;
  background-color: rgba(255,255,255,.7);
}

#edit-user-form {
  display: flex;
}

#edit-user-form > input {
  text-align: center;
  margin: 0 5px;
  width: 40%;
  font-size: 18px
}

#edit-user-form > button {
  width: 30%;
  font-size: 16px
}

.edit-user-page {
  font-size: 24px
}