/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

body {
  font-family: 'Righteous', cursive;
}

button {
  font-family: 'Righteous', cursive;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
}

button:hover {
  box-shadow: none;
  background-color: lightblue;
}

li {
  list-style: none;
  margin: 0 0 10px 0;
}

ul {
  columns: 3;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-family: 'Righteous', cursive;
}

#login, #register {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 100%;
  background-image: url('./images/airplane-airport.jpg');
  background-size: cover;
}

#login-interactives, #register-interactives {
  margin: auto;
  height: 50vh;
  width: 50%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: space-between;
}

#login-interactives > form, #register-interactives > form {
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 60%;
}

#login-interactives > form > input, #register-interactives > form > input {
  text-align: center;
  height: 30%;
  font-size: 20px
}

#login-interactives > form > button, #register-interactives > form > button {
  font-size: 20px;
  height: 30%;
}

#login-interactives > button, #register-interactives > button {
  height: 20%;
  margin: auto 0;
  font-size: 20px
}

.react-calendar {
  margin: 0 auto;
  width: 50%;
  background-image: url('./images/train-on-bridge.jpg');
  background-size: cover;
}

.react-calendar__month-view, .react-calendar__navigation {
  background-color: rgba(255,255,255,.7);
}

#user-container {
  height: 100vh;
  width: 100%;
}

.user-page {
  display: flex;
  justify-content: center;
  background-color: teal;
  height: 10%;
  padding-bottom: 20px;
  align-items: center;
  overflow: scroll;
}

#user-name {
  text-align: center;
  width: 50%;
}

#user-page-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#user-page-buttons > button {
  width: 150px;
  height: 40px;
  font-size: 20px;
}

#trip-container {
  background-color: lightgreen;
  height: 90%;
  overflow: scroll;
}

#trip-list {
  display: flex;
  justify-content: space-around;
}

#trip-list > li {
  text-align: center;
  width: 25%;
}

#map-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;

}

#map-container > div {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#map-and-calendar {
  display: flex;
}

#new-trip-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px
}

#new-trip-page > div {
  font-size: 36px;
}

#new-trip-page > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

#new-trip-page > form > input {
  text-align: center;
  width: 100%;
  height: 20px;
  font-family: 'Righteous', cursive;
  font-size: 18px
}

#new-trip-page > form > button {
  height: 30px;
  width: 50%;
  font-size: 18px;
}
